[Unit]
Description=Uvicorn daemon to serve stack-ai analysis fastapi app
After=network.target
[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/projects/ai-stacktrace/fastapi-app/
ExecStart=/home/ec2-user/projects/ai-stacktrace/fastapi-app/venv/bin/uvicorn app:app --port 9000
[Install]
WantedBy=multi-user.target
