# Webb app
fastapi[all]
uvicorn[standard]
# for aws
gunicorn

# traceback analyzer
python-dotenv
langchain
openai
levenshtein
# for token counting
tiktoken
# for test-ws.py
websockets
# for auth
cryptography
python-jose

# AWS
boto3